extends layout

block content

    h1= title


    each product in product_list
        <br>
        a(href=product.url)
          img(src=product.thumbnail alt='product thumbnail' style='width:auto; height:100px;')
        <br>
        <br>
        a(href=product.url) #{product.title}
        p $#{product.price} - Stock: #{product.stock}

        <br>
        <hr>
    else
        p No products found.